.content_editor {
  .hallotoolbar {
    margin-bottom: $line-height / 5;
  }
  .content_editor_input {
    outline: 0;
    padding: $line-height / 3;
    border-width: 0.2em;
    margin-top: 0;
    margin-bottom: $line-height;
    border-style: solid;
    @include box-sizing(border-box);
    @include border-radius($radius);
    @include transition( border-color 0.5s);
    @extend %black_transparent_mid-grey;
    min-height: 6em;

    &:focus {
      @extend %black_transparent_light-secondary;
    }
  }
}
