doctype 5
html
  head
    title Experiment
    script(src='/javascripts/application.js', type='text/javascript')
    link(rel='stylesheet', href='/stylesheets/application.css')
  body
    block content
